# Maven build artifacts
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse/STS
.classpath
.project
.settings/
.springBeans
.apt_generated
.factorypath
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment & secrets
.env


# Documentation or IDE metadata
HELP.md
